.block-cat-default-Page {
    .inline {
        display: inline-flex;
        column-gap: 10px;
    
        i {
            line-height: 35px;
            font-size: 20px;
            color: rgb(77, 105, 142);;
        }
    
        span {
            font-weight: bold;
            white-space: nowrap;
            line-height: 35px;
            color: rgb(77, 105, 142);;
        }
    }

    .Form-group {
        > label > li {
            list-style: none;
        }
    }
}